.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
  font-weight: 700;
  font-family: $font-heading;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem;
  color: $color-white;
  background: $color-primary;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 80rem;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  border: $border;
  padding-top: 2rem;
}

.contact {
  h1 {
    text-align: center;
  }
  &__container {
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    @include respond(phone-lg) {
      grid-template-columns: 1fr;
    }
  }
  &__box {
    min-width: 28rem;
    &--prof {
      @include respond(phone-lg) {
        margin-bottom: 4rem;
      }
    }
  }
  &__name {
    margin-bottom: 1rem;
    &--full {
      font-size: 2.3rem;
      letter-spacing: 1.5px;
    }
    &--apelido {
      font-size: 1.8rem;
      font-style: italic;
      color: $color-primary;
    }
  }
  &__details {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &-text {
      margin-left: 1rem;
    }
  }
  &__email {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
  &__phone {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
  &__location {
    display: flex;
    align-items: center;
  }
  &__icon {
    width: 3rem;
    height: 3rem;
    fill: $color-primary;
  }
}
