.footer {
   min-height: 50vh;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: #333;
   &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   &__sitemap {
      font-size: 3rem;
      margin-bottom: 2rem;
      &-link:link,
      &-link:visited {
         color: $color-white;
         font-family: $font-heading;
         font-weight: 300;
         text-decoration: none;
         text-transform: uppercase;
         padding: 1rem;
      }
      &-link:hover {
         color: $color-primary;
      }
   }
   &__social {
      &-text {
         letter-spacing: 4px;
         text-transform: uppercase;
         font-size: 1.7rem;
         font-family: $font-para;
      }
      &-box {
         display: flex;
         justify-content: space-around;
         margin-top: 2rem;
      }
   }
   &__bottom {
      background-color: #3b3b3b;
      display: flex;
      justify-content: space-between;
      padding: 1rem 3rem 1rem 3rem;
      text-transform: uppercase;
      font-size: 1.2rem;
      a {
         color: $color-primary;
         cursor: pointer;
      }
   }
   &__icon-box {
      position: absolute;
      right: 4rem;
      bottom: 6rem;
   }
   &__icon {
      fill: $color-primary;
      width: 3rem;
      height: 3rem;
      cursor: pointer;
   }
}