.hero {
   &__container {
      position: relative;
   }
   &__image {
      height: 90vh;
   }
   &__heading {
      position: absolute;
      top: 20%;
      left: 20%;
      font-family: $font-heading;
      line-height: 13rem;
      font-size: 5em;
      text-transform: uppercase;
      letter-spacing: 1rem;
      font-weight: 600;
      z-index: 1000;
   }
}