.bm-burger-button {
  position: fixed;
  width: 33px;
  height: 30px;
  left: 0;
  top: 10px;
  background: $color-primary;
  border-top: 10px solid $color-primary;
  border-right: 8px solid $color-primary;
  border-bottom: 8px solid $color-primary;
  border-left: 8px solid $color-primary;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
}

.bm-burger-bars {
  background: $color-white;
}

.bm-cross-button > span {
  top: 2px !important;
}

.bm-cross-button {
}

.bm-cross {
  background: $color-primary;
  width: 2px !important;
  height: 20px !important;
}

.bm-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $color-white;
}

.bm-overlay {
  background: rgba($color-primary, 0.3);
}

.side-nav {
  &__container {
    height: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &__list {
    font-size: 2.6rem;
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  &__logo {
    &-box {
      width: 80%;
      margin: 0 auto;
    }
    &-link {
    }
    &-img {
      width: 100%;
    }
  }
  &__item {
    border-bottom: 1px solid $color-grey-divider;
    position: relative;
    padding: 0.3rem;
    &:first-of-type {
      border-top: 1px solid $color-grey-divider;
    }
  }
  &__item:hover {
    background-color: $color-white_smoke;
  }
  &__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 6px;
    background-color: $color-primary;
    transform: scaleX(0);
    transition: transform 0.3s;
  }
  &__item:hover::before {
    transform: scaleX(1);
  }
  &__link:link,
  &__link:visited {
    color: $color-black;
    font-family: $font-heading;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 0.8rem;
    position: relative;
    z-index: 10;
    margin-left: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 3rem;
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: $color-primary;
  }
}

.social {
  &__box {
    display: flex;
    padding-bottom: 1.5rem;
    align-items: center;
    justify-content: space-evenly;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
  }
  &__icon {
    width: 3.5rem;
    height: 3.5rem;
    fill: $color-primary;
  }
}
