.news__title {
   text-align: center;
   margin-top: 3rem;
}

.j-poster h3 {
   color: $color-primary !important;
}

.j-meta a {
   color: $color-primary !important;
}

.j-stacker-wrapper {
   margin: 0 2rem !important;
}

.juicer-button {
   border: 2px solid $color-primary !important;
   color: $color-primary !important;
}

.juicer-button:hover {
   background: $color-primary !important;
   color: $color-white !important;
}