.trainings {
  text-align: center;
  &__heading {
    margin-top: 3rem;
    @include respond(phone-lg) {
      padding-left: 5rem;
    }
  }
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
  margin-top: 2rem;

  &__tab-list {
    display: flex;
    flex-wrap: wrap;
    border: $border;

    & > * {
      flex-basis: 50%;
      width: 50%;
    }
  }

  &__tab {
    list-style: none;
    padding: 0.8rem;
    font-size: 3.5rem;
    font-family: $font-heading;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s linear;
    border-right: $border;

    &--selected {
      color: $color-white;
      background-color: $color-primary;
    }

    &:focus {
      box-shadow: none;
      border-color: $border;
      outline: none;
    }

    &:nth-child(-n + 2) {
      border-bottom: $border;
    }

    @include respond(tab-sm) {
      border-top: $border;

      &:hover {
        background-color: none;
      }

      &:last-of-type {
        grid-column: span 2;
      }
    }
  }

  &__tab-panel {
    display: none;
    opacity: 0;
    padding: 3rem;
    &--selected {
      display: block;
      opacity: 1;
      animation: fade-and-slide-in 250ms ease-out;
    }
  }
}

.equipment {
  padding: 5rem 0 10rem 0;
  @include centerTextContainer;
  &__text {
    @include paragraphText;
  }
}
