.react-tabs {
  -webkit-tap-highlight-color: transparent;
  margin-top: 10rem;
  padding: 1rem;
  &__tab-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: $border;
    @include respond(tab-sm) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__tab {
    width: 100%;
    list-style: none;
    padding: 0.8rem;
    font-size: 3.5rem;
    font-family: $font-heading;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: border-bottom 0.1s linear;
    border-right: $border;
    &--selected {
      color: $color-white;
      background-color: $color-primary;
    }
    &:hover {
      background-color: rgba($color-primary, 0.3);
    }
    &:focus {
      box-shadow: none;
      border-color: $border;
      outline: none;
    }
    @include respond(tab-sm) {
      border-top: $border;
      &:hover {
        background-color: none;
      }
      &:last-of-type {
        grid-column: span 2;
      }
    }
  }
  &__tab-panel {
    display: none;
    opacity: 0;
    padding: 3rem;
    &--selected {
      display: block;
      opacity: 1;
      animation: fade-and-slide-in 250ms ease-out;
    }
  }
}

// TESTING
.location-list {
  order: 2;
}
